Package: org.midey.folderusage
Name: FolderUsage
Depends: firmware (>= 8.0), mobilesubstrate
Version: 1.0.2
Architecture: iphoneos-arm
Description: Swipe up on folders to view their disk usage
Maintainer: midey <mideydev@gmail.com>
Author: midey <mideydev@gmail.com>
Section: Tweaks
Icon: file:///Library/PreferenceBundles/FolderUsagePrefs.bundle/FolderUsageIcon@2x.png
