<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>PAGE_TITLE</string>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>TWEAK_ENABLED_SWITCH_LABEL</string>
			<key>key</key>
			<string>tweakEnabled</string>
			<key>id</key>
			<string>FUTweakEnabled</string>
			<key>default</key>
			<true/>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DISK_USAGE_TYPE_GROUP_LABEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>DISK_USAGE_TYPE_LIST_LABEL</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>diskUsageType</string>
			<key>id</key>
			<string>FUDiskUsageType</string>
			<key>default</key>
			<string>2</string>
			<key>validTitles</key>
			<array>
				<string>DISK_USAGE_TYPE_LIST_ITEM_STATIC</string>
				<string>DISK_USAGE_TYPE_LIST_ITEM_DYNAMIC</string>
				<string>DISK_USAGE_TYPE_LIST_ITEM_TOTAL</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APP_GROUP_LABEL</string>
			<key>footerText</key>
			<string>APP_GROUP_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>APP_USAGE_SWITCH_LABEL</string>
			<key>key</key>
			<string>showAppUsage</string>
			<key>id</key>
			<string>FUShowAppUsage</string>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>APP_SORT_TYPE_LIST_LABEL</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>appSortType</string>
			<key>id</key>
			<string>FUAppSortType</string>
			<key>default</key>
			<string>1</string>
			<key>validTitles</key>
			<array>
				<string>APP_SORT_TYPE_LIST_ITEM_NONE</string>
				<string>APP_SORT_TYPE_LIST_ITEM_SIZE</string>
				<string>APP_SORT_TYPE_LIST_ITEM_NAME</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>APP_SORT_ORDER_LIST_LABEL</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>appSortOrder</string>
			<key>id</key>
			<string>FUAppSortOrder</string>
			<key>default</key>
			<string>1</string>
			<key>validTitles</key>
			<array>
				<string>APP_SORT_ORDER_LIST_ITEM_ASCENDING</string>
				<string>APP_SORT_ORDER_LIST_ITEM_DESCENDING</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SUBFOLDER_GROUP_LABEL</string>
			<key>footerText</key>
			<string>SUBFOLDER_GROUP_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>SUBFOLDER_USAGE_SWITCH_LABEL</string>
			<key>key</key>
			<string>showSubfolderUsage</string>
			<key>id</key>
			<string>FUShowSubfolderUsage</string>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>SUBFOLDER_SORT_TYPE_LIST_LABEL</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>subfolderSortType</string>
			<key>id</key>
			<string>FUSubfolderSortType</string>
			<key>default</key>
			<string>1</string>
			<key>validTitles</key>
			<array>
				<string>SUBFOLDER_SORT_TYPE_LIST_ITEM_NONE</string>
				<string>SUBFOLDER_SORT_TYPE_LIST_ITEM_SIZE</string>
				<string>SUBFOLDER_SORT_TYPE_LIST_ITEM_NAME</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>SUBFOLDER_SORT_ORDER_LIST_LABEL</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>subfolderSortOrder</string>
			<key>id</key>
			<string>FUSubfolderSortOrder</string>
			<key>default</key>
			<string>1</string>
			<key>validTitles</key>
			<array>
				<string>SUBFOLDER_SORT_ORDER_LIST_ITEM_ASCENDING</string>
				<string>SUBFOLDER_SORT_ORDER_LIST_ITEM_DESCENDING</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2017 midey @mideydev &lt;mideydev@gmail.com&gt;</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>ICON_INFO_TEXT</string>
		</dict>

	</array>
</dict>
</plist>
