<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>PAGE_TITLE</string>
	<key>items</key>
	<array>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>TWEAK_ENABLED_SWITCH_LABEL</string>
			<key>key</key>
			<string>tweakEnabled</string>
			<key>id</key>
			<string>FUTweakEnabled</string>
			<key>default</key>
			<true/>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DISK_USAGE_TYPE_GROUP_LABEL</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>DISK_USAGE_TYPE_LIST_LABEL</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>diskUsageType</string>
			<key>id</key>
			<string>FUDiskUsageType</string>
			<key>default</key>
			<string>2</string>
			<key>validTitles</key>
			<array>
				<string>DISK_USAGE_TYPE_LIST_ITEM_STATIC</string>
				<string>DISK_USAGE_TYPE_LIST_ITEM_DYNAMIC</string>
				<string>DISK_USAGE_TYPE_LIST_ITEM_TOTAL</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>APP_GROUP_LABEL</string>
			<key>footerText</key>
			<string>APP_GROUP_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>APP_USAGE_SWITCH_LABEL</string>
			<key>key</key>
			<string>showAppUsage</string>
			<key>id</key>
			<string>FUShowAppUsage</string>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>APP_COUNTS_SWITCH_LABEL</string>
			<key>key</key>
			<string>showAppCounts</string>
			<key>id</key>
			<string>FUShowAppCounts</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>APP_NAME_TYPE_LIST_LABEL</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>appNameType</string>
			<key>id</key>
			<string>FUAppNameType</string>
			<key>default</key>
			<string>0</string>
			<key>validTitles</key>
			<array>
				<string>APP_NAME_TYPE_LIST_ITEM_ICON_NAME</string>
				<string>APP_NAME_TYPE_LIST_ITEM_SHORT_NAME</string>
				<string>APP_NAME_TYPE_LIST_ITEM_FULL_NAME</string>
				<string>APP_NAME_TYPE_LIST_ITEM_APP_IDENTIFIER</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
			<key>staticTextMessage</key>
			<string>APP_NAME_TYPE_LIST_DESCRIPTION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>APP_SORT_TYPE_LIST_LABEL</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>appSortType</string>
			<key>id</key>
			<string>FUAppSortType</string>
			<key>default</key>
			<string>1</string>
			<key>validTitles</key>
			<array>
				<string>APP_SORT_TYPE_LIST_ITEM_NONE</string>
				<string>APP_SORT_TYPE_LIST_ITEM_SIZE</string>
				<string>APP_SORT_TYPE_LIST_ITEM_NAME</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>APP_SORT_ORDER_LIST_LABEL</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>appSortOrder</string>
			<key>id</key>
			<string>FUAppSortOrder</string>
			<key>default</key>
			<string>1</string>
			<key>validTitles</key>
			<array>
				<string>APP_SORT_ORDER_LIST_ITEM_ASCENDING</string>
				<string>APP_SORT_ORDER_LIST_ITEM_DESCENDING</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SUBFOLDER_GROUP_LABEL</string>
			<key>footerText</key>
			<string>SUBFOLDER_GROUP_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>SUBFOLDER_USAGE_SWITCH_LABEL</string>
			<key>key</key>
			<string>showSubfolderUsage</string>
			<key>id</key>
			<string>FUShowSubfolderUsage</string>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>SUBFOLDER_COUNTS_SWITCH_LABEL</string>
			<key>key</key>
			<string>showSubfolderCounts</string>
			<key>id</key>
			<string>FUShowSubfolderCounts</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>SUBFOLDER_SORT_TYPE_LIST_LABEL</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>subfolderSortType</string>
			<key>id</key>
			<string>FUSubfolderSortType</string>
			<key>default</key>
			<string>1</string>
			<key>validTitles</key>
			<array>
				<string>SUBFOLDER_SORT_TYPE_LIST_ITEM_NONE</string>
				<string>SUBFOLDER_SORT_TYPE_LIST_ITEM_SIZE</string>
				<string>SUBFOLDER_SORT_TYPE_LIST_ITEM_NAME</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>SUBFOLDER_SORT_ORDER_LIST_LABEL</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>subfolderSortOrder</string>
			<key>id</key>
			<string>FUSubfolderSortOrder</string>
			<key>default</key>
			<string>1</string>
			<key>validTitles</key>
			<array>
				<string>SUBFOLDER_SORT_ORDER_LIST_ITEM_ASCENDING</string>
				<string>SUBFOLDER_SORT_ORDER_LIST_ITEM_DESCENDING</string>
			</array>
			<key>validValues</key>
			<array>
				<string>0</string>
				<string>1</string>
			</array>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DEVICE_GROUP_LABEL</string>
			<key>footerText</key>
			<string>DEVICE_GROUP_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>DEVICE_USAGE_GESTURE_ENABLED_SWITCH_LABEL</string>
			<key>key</key>
			<string>deviceUsageGestureEnabled</string>
			<key>id</key>
			<string>FUDeviceUsageGestureEnabled</string>
			<key>default</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>DEVICE_USAGE_GROUP_BY_HOME_SCREEN_AND_DOCK_SWITCH_LABEL</string>
			<key>key</key>
			<string>groupByHomeScreenAndDock</string>
			<key>id</key>
			<string>FUGroupByHomeScreenAndDock</string>
			<key>default</key>
			<false/>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DISPLAY_GROUP_LABEL</string>
			<key>footerText</key>
			<string>DISPLAY_GROUP_FOOTER</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>DISPLAY_FONT_SIZE_LIST_LABEL</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>fontSize</string>
			<key>id</key>
			<string>FUFontSize</string>
			<key>default</key>
			<string>13</string>
			<key>validTitles</key>
			<array>
				<string>8</string>
				<string>9</string>
				<string>10</string>
				<string>11</string>
				<string>12</string>
				<string>13</string>
				<string>14</string>
				<string>15</string>
			</array>
			<key>validValues</key>
			<array>
				<string>8</string>
				<string>9</string>
				<string>10</string>
				<string>11</string>
				<string>12</string>
				<string>13</string>
				<string>14</string>
				<string>15</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>label</key>
			<string>DISPLAY_INDENT_SIZE_LIST_LABEL</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>indentSize</string>
			<key>id</key>
			<string>FUIndentSize</string>
			<key>default</key>
			<string>28</string>
			<key>validTitles</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
				<string>11</string>
				<string>12</string>
				<string>13</string>
				<string>14</string>
				<string>15</string>
				<string>16</string>
				<string>17</string>
				<string>18</string>
				<string>19</string>
				<string>20</string>
				<string>21</string>
				<string>22</string>
				<string>23</string>
				<string>24</string>
				<string>25</string>
				<string>26</string>
				<string>27</string>
				<string>28</string>
			</array>
			<key>validValues</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
				<string>11</string>
				<string>12</string>
				<string>13</string>
				<string>14</string>
				<string>15</string>
				<string>16</string>
				<string>17</string>
				<string>18</string>
				<string>19</string>
				<string>20</string>
				<string>21</string>
				<string>22</string>
				<string>23</string>
				<string>24</string>
				<string>25</string>
				<string>26</string>
				<string>27</string>
				<string>28</string>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>DISPLAY_COPY_BUTTON_SWITCH_LABEL</string>
			<key>key</key>
			<string>copyButtonEnabled</string>
			<key>id</key>
			<string>FUCopyButtonEnabled</string>
			<key>default</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>DISPLAY_FORCE_MODERN_ALERTS_SWITCH_LABEL</string>
			<key>key</key>
			<string>forceModernAlerts</string>
			<key>id</key>
			<string>FUForceModernAlerts</string>
			<key>default</key>
			<false/>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>CREDITS_LABEL</string>
			<key>detail</key>
			<string>FUCreditsListController</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>COPYRIGHT_FOOTER</string>
		</dict>

	</array>
</dict>
</plist>
